<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
</head>
<body>
  <div style="text-align: center;">
      <h1>Welcome to {{title}}!</h1>
    </div>  
      <app-pipes></app-pipes>
     <app-ngif-for-switch></app-ngif-for-switch>
     <app-services style="align-content: flex-start;"></app-services >
  <app-component-interaction (childEvent)="message=$event" [parentData]="name"></app-component-interaction>
  <h1>{{message}}</h1>
</body>
</html>