 p{
 text-align: center;
   color: red;
   border-bottom: 5px dotted  white;
   border-bottom-left-radius: 5px;
  padding : 10px;
 }
 body{
 background:blue ;
 background-image:url("C:\Users\ismai\OneDrive\Pictures\Saved Pictures\42.jpg") ;
 background-size: 300px 100px ;
 }
 	#a{
	width : 80px;
	height: 80px;
	outline :2px solid red;
	overflow: auto;
	background : red;
	position: relative;
	animation-name: myan;
    animation-duration: 5s;
	animation : myan 5s ;
	animation-delay : 2s;
	animation-direction : alternate-reverse;
	animation-iteration-count: 2;
	transform: rotateY(180deg);
	backface-visibility: visible;
	font-size:20px;
	}
	@keyframes myan {
	0% {background:yellow; left:0px;  top:0px;}
	25% {background:green; left:200px;  top:0px;}
	50% {background:pink; left:200px;  top:200px;}
	75% {background:white; left:0px;  top:200px;}
	100% {background:red; left:0px;  top:0px;}
	}
